*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
._app{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: auto;
    min-width: 100%;
}
.container{
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
}